<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 10px;
        }
    </style>
</head>

<body>

    <h2>Room Details : </h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Photo</th>
        </tr>
        {{#each room}}
        <tr>
            <td style="font-weight: bold;">{{name}}</td>
            <td style="font-style: italic;">{{description}}</td>
            <td><img src="./img1.jpg" alt="" border=3 height=100 width=300></img></th>
        </tr>
        {{/each}}
    </table>

</body>

</html>